body {
  background-color: rgb(242, 242, 242);
}

.heading {
  display: flex;
  text-align: center;
  justify-content: center;
}

.table{
  display: flex;
  text-align: center;
  justify-content: center;
}

.table-heading {
  background-color: rgb(6, 174, 146);
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;
}